test-results
node_modules

# Output
.output
.vercel
.netlify
.wrangler
/frontend/.svelte-kit
/frontend/build
/backend/Pleiades
/database

# OS
.DS_Store
Thumbs.db
.direnv

# Env
.env
.env.*
!.env.example
!.env.test
run.nu

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# IDE
.idea